@{
    ViewData["Title"] = "Uploader";
}
@using System.Globalization
@model DocumentResultsViewModel

<link rel="stylesheet" href="~/css/upload-page.css">
<link rel="stylesheet" href="~/css/result-page.css">

<div class="text-center">
    <h1 class="display-4">ETD Uploader</h1>
    <p>Showing the results for uploaded file: @Model.ValidatedDocName (Validation completed: @DateTime.Now.ToString(CultureInfo.InvariantCulture))</p>
</div>

@if (0 == Model.AllErrors.Count && 0 == Model.AllWarnings.Count)
{
    <div class="validation-results-container" >
        <p class="result-descriptions" id="valid-document">
            Document checking completed. No errors or warnings to show.
        </p>
    </div>
}
else
{
    <div id="results">
    <ol>
        @foreach (ComponentError error in Model.AllErrors)
        {
            <li>
                <div class="validation-results-container">
                    
                    <!-- Display slightly different error for validation issues -->
                    @if (error.ErrorName.Equals("Validation Issue"))
                    {
                        <strong class="error-name result-name">Validation Error</strong>
                    }
                    else
                    {
                        <strong class="error-name result-name">Error</strong>
                    }
                    
                    <span class="result-descriptions">@error.ErrorDescription</span>
                    <div>
                        <p class="guidance">
                            For further guidance, consult <a href="https://www.montana.edu/etd/etd_format.html#format_guides">MSU Graduate ETD formmating information.</a>
                        </p>
                        <p class="guidance">
                            If the ETD validator has misidentified a component of this document, please file an issue
                            <a href="https://www.montana.edu/etd/etd_format.html#format_guides">report</a>.
                        </p>
                    </div>
                </div>
            </li>
        }
        
        @foreach (ComponentWarning warning in Model.AllWarnings)
        {
            <li>
                <div class="validation-results-container">
                    <strong class="warning-name result-name">Warning</strong>
                    <span class="result-descriptions">@warning.WarningDescription</span>
                    <div>
                        <p class="guidance">
                            For further guidance, consult <a href="https://www.montana.edu/etd/etd_format.html#format_guides">MSU Graduate ETD formmating information.</a>.
                        </p>
                        <p class="guidance">
                            If the ETD validator has misidentified a component of this document, please file an issue
                            <a href="https://www.montana.edu/etd/etd_format.html#format_guides">report</a>.
                        </p>
                    </div>
                </div>
            </li>
        }
    </ol>
    </div>
}