@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dissertation Validator</h1>
    <p>This site is for electronic validation of disserations in accordence with the
        formatting guidelines given by Montana State University graduate school. 
        While relatively complete, your formatting advisor will also need to approve your document.
        More on these formatting guidelines <a href="https://www.montana.edu/etd/etd_format.html">here.</a>
    </p>
    <p>To submit your document please go to the Uploader Tab.</p>
    <p>Privacy Notice: No logging of document data is stored for future reference </p>
    <p>You can also visit our <a href="https://github.com/423s22/G3">Github page</a> to contribute or make suggestions</p>
</div>