@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Dissertation Validator</h1>
    <p>The site is empty for now - but it will eventually be able to validate electronic disserations for MSU grad
        students. More on these documents <a href="https://www.montana.edu/etd/etd_format.html">here</a></p>
    <p>You can also visit our <a href="https://github.com/423s22/G3">Github page</a></p>
</div>