.error-name{
    background-color: rgba(255,0,0,.5);
    text-align: center;
}

.warning-name{
    background-color: rgba(255,255,0,.5);
    text-align: center;
}


.result-name{
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    padding: .5em;
    margin-top: .75em;
    margin-left: .75em;
    width: auto;
    text-align: center;
}


.result-descriptions{
    
}


.validation-results-container{
    align-items: center;
    justify-content: left;
    font-family: "Quicksand", sans-serif;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    margin: auto;
}
.validation-results-container::after {
    content: "";
    display: table;
    clear: both;
}

.result-numbering{
    background-color: #ECECEC;
    margin: 0 auto;
}

#valid-document{
    background-color: rgba(0,255,0,.5);
    width: 75%;
    padding: 10px 40px;
}

p.guidance{
    font-size: 11px;
    text-align: left;
    margin-left: 1em;
}
p.result-descriptions{
    font-family: "Quicksand", sans-serif;
    margin-left: 20px;
    width: 70%;
    font-weight: bold;
    font-size: 14px;
}

li{
    display: list-item;
    height: auto;
    clear: both;
    margin-bottom: 5px;
    padding: 0.5em;
}

ol{
    border:1px solid #ccc;
    margin-bottom: 8px;
    padding-left: 12px;
    border-radius: 1000px;
    list-style-position: outside;
    
}

#results > ol:first-child {
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: #efefef;
    border-radius: 4px;
}

#results > ol:first-child > li {
    border: 1px solid #ccc;
    margin-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 1em;
    margin-left: 1.5em;
}


